<mat-card class="header">
  <h1>About us</h1>
  <a routerLink=""><-- All posts</a>
</mat-card>

<mat-card class="body">
  <mat-card-content>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tortor diam, efficitur et magna sit amet, rutrum porta
      nulla. Duis auctor et diam tincidunt consectetur. Aliquam elementum eleifend justo nec pretium. Curabitur rutrum
      fringilla est, vel varius erat volutpat at. Maecenas placerat elit nec iaculis posuere. Interdum et malesuada
      fames ac ante ipsum primis in faucibus. Morbi laoreet consectetur enim. Suspendisse potenti. Vestibulum eu
      pulvinar turpis. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent ante sapien, viverra
      ullamcorper luctus id, vulputate ut orci. Mauris vulputate sem eu nisl tempus posuere. Praesent porttitor erat
      eleifend magna rutrum consectetur.</p>
    <p>
      Quisque id luctus nunc. Vestibulum volutpat ex sed sem feugiat efficitur. Mauris elit augue, congue id enim nec,
      sollicitudin gravida velit. Sed a volutpat tellus. Phasellus non varius arcu. Vestibulum ut arcu tristique sem
      tempus cursus. Aenean at dui rutrum lacus vestibulum lacinia. Vivamus quis tortor elit. Vivamus sollicitudin
      congue ipsum, a convallis odio. Phasellus scelerisque magna enim, ac ullamcorper neque sodales at. Nullam
      tristique magna quis dignissim tristique. Vestibulum tempor iaculis augue, id tristique diam accumsan sed. Mauris
      placerat eget tortor sed hendrerit. Morbi enim enim, condimentum quis velit vel, feugiat ultrices erat. Sed eu
      tincidunt ligula.</p>
    <p>
      Nullam sit amet vulputate massa. Ut et egestas nisi, sit amet congue ante. Donec justo arcu, vestibulum et velit
      vel, pharetra efficitur justo. Aenean tristique pulvinar cursus. Integer in viverra ligula. Maecenas at massa
      lectus. Phasellus euismod, eros a elementum tincidunt, lorem tellus congue lectus, ut tristique lacus tortor at
      leo. Vivamus nec accumsan enim, sed vestibulum augue. Morbi lobortis vitae neque vitae porta.</p>
    <p>
      Morbi eu facilisis leo. Cras pulvinar odio sit amet velit pretium facilisis. Integer bibendum arcu semper justo
      tempor consequat. Duis at arcu ex. Suspendisse consectetur mi eu libero commodo, a congue ante luctus. Proin
      pulvinar augue a neque egestas tristique. Fusce aliquam semper mauris sit amet cursus. Vivamus at ullamcorper
      risus. Suspendisse felis mauris, cursus eget ullamcorper nec, consectetur eu magna. Ut vulputate posuere
      tincidunt. Nunc nec elit nec ipsum placerat luctus malesuada ut nulla. Sed nec convallis augue. Aliquam erat
      volutpat. Praesent accumsan sem a augue varius feugiat. Vivamus blandit luctus lobortis. Sed malesuada gravida
      neque vitae tincidunt.</p>
    <p>
      Integer sed ligula eget tortor pulvinar placerat. Etiam orci orci, volutpat cursus dui eu, hendrerit faucibus
      tortor. Morbi nec ex sit amet lectus gravida maximus. Aliquam varius risus in elit lacinia, at tempus eros mollis.
      Mauris nec diam lorem. Fusce fringilla mattis porta. Vestibulum massa magna, imperdiet egestas est sit amet,
      dignissim placerat lectus. Vivamus tristique, magna at commodo suscipit, elit nunc sollicitudin nisi, sed interdum
      dui sem in ligula. Pellentesque sit amet elementum lacus, id aliquam enim. Nam eget venenatis lacus. In vulputate
      nulla elit, sollicitudin vulputate velit sagittis semper. Vestibulum ante ipsum primis in faucibus orci luctus et
      ultrices posuere cubilia curae; In mauris nulla, pretium eu volutpat vitae, efficitur sit amet nulla. In nunc
      odio, condimentum mollis erat quis, rhoncus volutpat dolor. Nulla scelerisque orci in sollicitudin efficitur.</p>

  </mat-card-content>
</mat-card>
