<mat-card class="header">
  <mat-card-title><h1>Blog Project</h1></mat-card-title>
  <mat-card-content><h3>This is the best app for people with apps.</h3></mat-card-content>
</mat-card>

<div *ngIf="errorMessage==='';then success else error"></div>

<ng-template #success>
  <ng-template *ngIf="posts?.length===0;then noPosts else withPosts">
  </ng-template>
</ng-template>
<ng-template #error>
  <h2 class="error">{{errorMessage}}</h2>
</ng-template>

<ng-template #withPosts>
  <div class="grid-container">
    <div class="grid-item" *ngFor="let post of posts">
      <app-post-item [data]="post"></app-post-item>
    </div>
  </div>
</ng-template>

<ng-template #noPosts>
  <h2 class="nopost">Ooops! No posts yet:(</h2>
</ng-template>




